.root {
    &[data-variant='danger'] {
      background-color: var(--mantine-color-red-9);
      color: var(--mantine-color-red-0);
      margin-top: 10px;
      margin-left: 10px;

    }
  
    &[data-variant='primary'] {
      background: linear-gradient(45deg, #4b6cb7 10%, #253b67 90%);
      color: var(--mantine-color-white);
      border-width: 0;
    }

    &[data-variant='edit'] {
        background-color: var(--mantine-color-yellow-9);
        color: var(--mantine-color-yellow-0);
        margin-top: 10px;
        margin-left: 10px;
      }

      &[data-variant='complete'] {
        background-color: var(--mantine-color-green-9);
        color: var(--mantine-color-yellow-0);
        margin-top: 10px;
        margin-left: 10px;

      }
  }